In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("glassdoor_jobs.csv")
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
df.drop("Unnamed: 0", axis=1,  inplace=True)
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1

In [4]:
df.shape

(956, 14)

In [5]:
df.describe()

           Rating      Founded
count  956.000000   956.000000
mean     3.601255  1774.605649
std      1.067619   598.942517
min     -1.000000    -1.000000
25%      3.300000  1937.000000
50%      3.800000  1992.000000
75%      4.200000  2008.000000
max      5.000000  2019.000000

In [6]:
df.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

In [7]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [8]:
lis = df['Job Title'].unique()

In [9]:
lis[:10]

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning'], dtype=object)

In [10]:
len(df['Job Title'].unique())

328

job role,  
remove the rows with salary == -1,  
salary parsing,  
company name,  
age of the company,  
parsing the job description,

different job titles :- (major)    
Data Scientist   
data analyst   
data engineer

In [11]:
anl = ['Analyst', 'Analysis', 'Analytics']
sci = ['Scientist', 'SCIENTIST', ]
eng = ['Engineer', 'Deep Learning', ]
ml = ['Machine Learning', ]

In [12]:
df_ml = df['Job Title'].apply(lambda x: "Machine Learning" if 'Machine Learning' in x else x)
len(df_ml.unique())

314

In [13]:
df_s = df_ml.apply(lambda x: "Data Scientist" if 'Scientist' in x else x)
len(df_s.unique())

147

In [14]:
df_s1 = df_s.apply(lambda x: "Data Scientist" if 'SCIENTIST' in x else x)
len(df_s1.unique())

142

In [15]:
df_a = df_s1.apply(lambda x: "Data Analyst" if 'Analyst' in x else x)
len(df_a.unique())

92

In [16]:
df_a1 = df_a.apply(lambda x: "Data Analyst" if 'Analysis' in x else x)
len(df_a1.unique())

91

In [17]:
df_a2 = df_a1.apply(lambda x: "Data Analyst" if 'Analytics' in x else x)
len(df_a2.unique())

75

In [18]:
df_e = df_a2.apply(lambda x: "Data Engineer" if 'Engineer' in x else x)
len(df_e.unique())

32

In [19]:
df_s1 = df_e.apply(lambda x: "Data Scientist" if 'Science' in x else x)
len(df_s1.unique())

20

In [20]:
df_s1.unique()

array(['Data Scientist', 'Data Analyst', 'Data Engineer',
       'Machine Learning', 'Data Management Specialist', 'Data Modeler',
       'Senior Director Biometrics and Clinical Data Management',
       'Data Systems Specialist 2', 'Environmental Data Specialist',
       'CONSULTANTâ€“ DATA ANALYTICS GROUP', 'Data Operations Lead',
       'Director - Data, Privacy and AI Governance', 'Chief Data Officer',
       'Clinical Data Manager', 'Enterprise Architect, Data',
       'Technology-Minded, Data Professional Opportunities',
       'Data Modeler (Analytical Systems)',
       'Product Manager/Data Evangelist',
       'Business Development - Data Supply Partnerships (Veraset)',
       'Data Architect / Data Modeler'], dtype=object)

In [21]:
df_others = df_s1.apply(lambda x: "Others" if x not in ['Data Scientist', 'Data Analyst', 'Data Engineer',
       'Machine Learning'] else x)
df_others.unique()

array(['Data Scientist', 'Data Analyst', 'Data Engineer',
       'Machine Learning', 'Others'], dtype=object)

In [22]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [23]:
df.drop('Job Title', axis=1, inplace=True)

In [24]:
df.sample(5)

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
728,$78K-$147K (Glassdoor est.),The Genesys Cloud Analytics platform is the fo...,4.3,Genesys\n4.3,"Durham, NC","Daly City, CA",5001 to 10000 employees,1990,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),"Avaya, Five9, Salesforce"
775,-1,"10-Oct-2019\n\nJob ID\n279335BR\n{""QuestionNam...",3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
717,-1,"The $21B Powersports market (motorcycles, ATVs...",4.2,Octane\n4.2,"New York, NY","New York, NY",51 to 200 employees,2014,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1
285,$63K-$105K (Glassdoor est.),Position Summary\nOur Data Science team is cur...,4.3,SMC 3\n4.3,"Louisville, KY","Peachtree City, GA",51 to 200 employees,1935,Nonprofit Organization,Logistics & Supply Chain,Transportation & Logistics,$10 to $25 million (USD),-1
460,-1,"06-Feb-2020\n\nJob ID\n279186BR\n{""QuestionNam...",3.8,Novartis\n3.8,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1

In [25]:
df1 = pd.concat([df, df_others], axis=1)
df1.head()

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Title
0,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist
1,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist
2,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist
3,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",Data Scientist
4,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist

In [26]:
#salary parsing!.......
# there are some -1 in this columns whichis not required

In [27]:
df2 = df1[df1['Salary Estimate'] != '-1']
df2.shape, df1.shape

((742, 14), (956, 14))

In [28]:
# different types of elements of Salary Estimate:- 
# '$115K-$180K (Glassdoor est.)'
# '$21-$34 Per Hour(Glassdoor est.)'

In [29]:
# df2[df2['Salary Estimate'] == 'Employer Provided Salary:$150K-$160K']
sal = df2['Salary Estimate'].apply(lambda x: x.split(':')[-1])
sal.sample(9)
# splitting the salary and we are gonna take only the avg salary-[cause we have min - max salaries.]

530      $49K-$76K (Glassdoor est.)
725     $69K-$119K (Glassdoor est.)
68       $49K-$85K (Glassdoor est.)
602     $67K-$135K (Glassdoor est.)
411     $67K-$135K (Glassdoor est.)
806     $97K-$181K (Glassdoor est.)
630      $35K-$62K (Glassdoor est.)
449    $108K-$171K (Glassdoor est.)
430      $43K-$86K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [30]:
sal1 = sal.apply(lambda x: '-1' if 'Per Hour' in x else x) 
sal2 = sal1[sal1 != '-1']
len(sal1), len(sal2)

(742, 718)

In [31]:
sal3 = sal2.apply( lambda x : x.split(' ')[0] )
# sal3.unique()

In [32]:
sal4 = sal3.apply(lambda x: x.split('K(')[0] )
sal4.sample(9)

325     $55K-$100K
588     $63K-$111K
296       $15K-$16
346     $81K-$159K
810      $53K-$96K
619      $56K-$95K
745    $139K-$221K
82      $74K-$122K
116     $65K-$110K
Name: Salary Estimate, dtype: object

In [33]:
sal5 = sal4.apply(lambda x: (x.replace( 'K', '' )).replace( '$', '' ) )
avg_salary = sal5.apply( lambda x : (int(x.split('-')[0]) +  int(x.split('-')[1]))/2 )

In [34]:
avg_salary = pd.Series( avg_salary, name="avg_salary" )

df3 = pd.concat( [df2, avg_salary], axis=1 )
df3.columns

Index(['Salary Estimate', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Job Title',
       'avg_salary'],
      dtype='object')

In [35]:
#company name cleaning!....
df3.Rating.describe()

count    742.000000
mean       3.618868
std        0.801210
min       -1.000000
25%        3.300000
50%        3.700000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [36]:
df3 = df3[df3.Rating != -1]
df3.shape

(731, 15)

In [37]:
df3['Company'] = df3.apply( lambda x : x['Company Name'][:-4] , axis=1)
df3.Company

0                          Tecolote Research
1      University of Maryland Medical System
2                                    KnowBe4
3                                       PNNL
4                         Affinity Solutions
                       ...
950                                      GSK
951                               Eventbrite
952           Software Engineering Institute
953                             Numeric, LLC
955             Riverside Research Institute
Name: Company, Length: 731, dtype: object

In [38]:
#Location
df3.columns

Index(['Salary Estimate', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Job Title',
       'avg_salary', 'Company'],
      dtype='object')

In [39]:
df4 = df3.copy()
df4.sample(3)

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Title,avg_salary,Company
358,$105K-$173K (Glassdoor est.),About Swiss Re\n\nThe Swiss Re Group is one of...,3.7,Swiss Re\n3.7,"Armonk, NY","Zurich, Switzerland",10000+ employees,1863,Company - Public,Insurance Agencies & Brokerages,Insurance,$10+ billion (USD),"Munich Re, Hannover RE, SCOR",Data Scientist,139.0,Swiss Re
487,$78K-$147K (Glassdoor est.),The Genesys Cloud Analytics platform is the fo...,4.3,Genesys\n4.3,"Durham, NC","Daly City, CA",5001 to 10000 employees,1990,Company - Private,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),"Avaya, Five9, Salesforce",Data Engineer,112.5,Genesys
589,$75K-$126K (Glassdoor est.),PeoplesBank is the largest mutually chartered ...,4.2,PeoplesBank\n4.2,"Holyoke, MA","Holyoke, MA",201 to 500 employees,1885,Company - Private,Banks & Credit Unions,Finance,$50 to $100 million (USD),-1,Data Scientist,100.5,PeoplesBank

In [40]:
df4.Location = df4.Location.apply(lambda x: x.split(',')[-1])
df4.Headquarters = df4.Headquarters.apply(lambda x: x.split(',')[-1])
df4.sample(3)

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Title,avg_salary,Company
705,$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,PA,NC,10000+ employees,2017,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),"PPD, INC Research, PRA Health Sciences",Data Analyst,111.5,IQVIA
930,$87K-$158K (Glassdoor est.),Join our team of Data Consultants and work on ...,4.5,Moser Consulting\n4.5,IN,IN,51 to 200 employees,1996,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1,Data Engineer,122.5,Moser Consulting
470,$50K-$110K (Glassdoor est.),Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\n2.9,GA,NC,1001 to 5000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,Data Scientist,80.0,Q2 Solutions

In [41]:
df4.Location.value_counts()

 CA    149
 MA     96
 NY     71
 VA     41
 IL     40
 MD     35
 PA     33
 TX     28
 NC     21
 WA     21
 NJ     17
 FL     16
 OH     14
 TN     13
 DC     11
 CO     11
 WI     10
 UT     10
 IN     10
 AZ      9
 MO      9
 AL      8
 GA      6
 DE      6
 KY      6
 MI      6
 CT      5
 IA      5
 LA      4
 OR      4
 NE      4
 NM      3
 KS      3
 ID      2
 MN      2
 RI      1
 SC      1
Name: Location, dtype: int64

In [42]:
df4.Founded.value_counts(), df4.shape

(-1       41
  2010    32
  2008    31
  1996    27
  2006    24
          ..
  1860     1
  1942     1
  1878     1
  1971     1
  1889     1
 Name: Founded, Length: 102, dtype: int64,
 (731, 16))

In [43]:
df5 = df4[df4.Founded != -1] # dropping all the rows with founded equals -1

In [44]:
curr_year = 2022
df5['Age'] = df4.Founded.apply( lambda x: (curr_year-x) if x>0 else 0) 
df5.sample(3)

C:\Users\Bharath\AppData\Local\Temp/ipykernel_6736/3761146944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['Age'] = df4.Founded.apply( lambda x: (curr_year-x) if x>0 else 0)

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Title,avg_salary,Company,Age
682,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,DE,DE,1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,Data Scientist,NaN,Beebe Healthcare,87
496,$40K-$101K (Glassdoor est.),"At VU, we help Veterans buy homes. To make tha...",4.7,Veterans United Home Loans\n4.7,MO,MO,1001 to 5000 employees,2002,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,Others,70.5,Veterans United Home Loans,20
62,$54K-$93K (Glassdoor est.),Job Description\n\n**Please only local candida...,4.1,ClearOne Advantage\n4.1,MD,MD,501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1,Data Scientist,73.5,ClearOne Advantage,14

In [45]:
df5.describe()

           Rating      Founded  avg_salary         Age
count  690.000000   690.000000  666.000000  690.000000
mean     3.703188  1969.833333  102.839339   52.166667
std      0.554377    54.108742   36.898159   54.108742
min      1.900000  1744.000000   15.500000    3.000000
25%      3.400000  1958.000000   76.125000   15.000000
50%      3.700000  1992.000000   98.000000   30.000000
75%      4.000000  2007.000000  124.000000   64.000000
max      5.000000  2019.000000  254.000000  278.000000

In [46]:
# now we have our required columns
#lets save the file.

df5.to_csv('cleaned_data.csv', index=False)