In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('cleaned_data.csv')
df.head()

,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Title,avg_salary,Company,Age
0,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,NM,CA,501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,Data Scientist,72.0,Tecolote Research,49
1,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,MD,MD,10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,Data Scientist,87.5,University of Maryland Medical System,38
2,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,FL,FL,501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,Data Scientist,85.0,KnowBe4,12
3,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,WA,WA,1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",Data Scientist,76.5,PNNL,57
4,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,NY,NY,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist,114.5,Affinity Solutions,24

In [3]:
df.columns

Index(['Salary Estimate', 'Job Description', 'Rating', 'Company Name',
       'Location', 'Headquarters', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'Competitors', 'Job Title',
       'avg_salary', 'Company', 'Age'],
      dtype='object')

In [4]:
df['Job Title'].value_counts()

Data Scientist      402
Data Analyst        126
Data Engineer       122
Machine Learning     29
Others               11
Name: Job Title, dtype: int64

In [5]:
df['len_desc'] = df['Job Description'].apply(lambda x: len(x))
df.len_desc.sample(5)

43     9165
252    3823
530    4141
557    5231
80     3706
Name: len_desc, dtype: int64

In [6]:
df.dtypes

Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
Job Title             object
avg_salary           float64
Company               object
Age                    int64
len_desc               int64
dtype: object

In [7]:
df['num_competitors'] = df.Competitors.apply( lambda x: len(x.split(',')) if x != '-1' else 0 )

In [13]:
df['num_competitors'].value_counts()

0    409
3    228
2     41
1     11
4      1
Name: num_competitors, dtype: int64

 ### EDA

histo grams pd.hist()   
Box plots, conts plots (seaborn)   
co-relation  
pivot tables